body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  width: auto;
  margin: 0px auto;
  }
#menu{
  background: plum;
  height: 40px;
}
#banner{
  height: auto;
  width: 100%;
}
#banner img{
  max-width:100%;
  height:auto;
}
#main1 #left1 {
width: 33%;
height: 500px;
background: white;
float: left; 
padding-top:2%;
}
#main1 #middle1 {
  width: 34%;
  height: 500px;
  background: #f6cec6;
  float: left;
  padding-top:2%;
}
#main1 #right1 {
  width: 33%;
  height: 500px;
  background: salmon;
  float: left; 
  padding-top:2%;
}
#main2 #left2 {
  width: 33%;
  height: 500px;
  background:salmon;
  float: left; 
  }
#main2 #middle2 {
  width: 34%;
  height: 500px;
  background: white;
  float: left; }
#main2 #right2 {
  width: 33%;
  height: 500px;
  background: #f6cec6;
  float: left; 
  }

#footer{
  background: lightcoral;
  width: auto;
  text-align: center;
  height: 300px;
  clear: left;
  line-height: auto; }
#menu ul{
  margin: 0px;
  padding: 0px;}
#menu ul li{
  list-style: none;
  float: left;}
#menu ul li a{
  text-decoration: none ;
  font-size: 16px;
  display: block;
  height: 40px;
  line-height: 40px;
  color: rgb(255, 255, 255); 
  padding: 0px 20px 0px 20px; 
  border-right: 1px solid white; }
#menu ul li a.active {
  background-color: orchid;}
#banner img{
  width: 1500px;}
#left1 img{
  height: auto;
  width: 400px;
  margin: 0px 50px;
}
#middle1 img{
  height: auto;
  width: 400px;
  margin: 0px 50px;
}
#right1 img{
  height: auto;
  width: 400px;
  margin: 0px 50px;
}
.footer{
  height: 40px;
  background-color: plum;
}

.contacts{
  margin: auto 5px;
  font-size: 20px;
  color:white;
}
#calendar{
  background: #f6cec6;
  box-shadow: 5px 10px 25px 1px rgba(0,0,0,0.75);
  padding:2%;
  border-radius: 4px;
  width:90%;
  height: 550px;
  margin: 50px auto;
}
#adminback{
  width:80%;
  height: 25%;
  margin: 50px auto;
  background: #f6cec6;
  padding: 3%;
}
#history{
  width: 100%;
  background: orchid;
  padding: 5px;
  border-radius: 10px;
}
.tabletop{
  border-bottom: 5px solid orchid;
  border-right: 5px solid orchid;
  padding: 4px;
  font-size: 40px;
  text-align: left;
  background: white;
}.deletetop{
  border-bottom: 5px solid orchid;
  border-right: 5px solid orchid;
  padding: 4px;
  font-size: 40px;
  text-align: left;
  background: orchid;
}
.infocell{
  border-right: 5px solid orchid;
  border-bottom: 3px solid orchid; 
  padding: 4px;
  font-size: 20px;
  background: white;
  margin: 10px;
}
.deletecell{
  background: red;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  color:white;
  border-right: 5px solid orchid;
  border-bottom: 3px solid orchid;
}
.requestbox{
  width: 60%;
  margin-top: 30px;
}
#requestwhole{
  margin-top:20px;
}
#requestback{
margin-left:5%;
float:left;
width:20%;
}
#schedule{
float:left;
width:70%;
}
.labels{
font-size: 20px;
}
.requestbox input{
font-size: 20px;
}
#submit{
  background: orchid;
  font-size: 15px;
  color: white;
  padding: 10px;
  font-family: sans-serif;
  border-radius: 4px;
  margin: 50px 50px;
}
